.block-container {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap
}




@media (min-width: 992px) {

.Lower-Outter-Section {
	padding: 10%
}
}

.Lower-Section {

}

.Header-Text {
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 42px;
	font-weight: 300;
	letter-spacing: 0.81px;
	line-height: 57px;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
}

.block-image {
	width: 100%
}

.block {
	flex: 1 1 320px;
}
	
.block-header {	
	height: 38px;	
	width: 384px;	
	color: #FFFFFF;	
	font-family: "Open Sans";	
	font-size: 18px;	
	font-weight: 600;	
	line-height: 30px;
}	

.block-text {
	height: 87px;
	width: 384px;
	color: #C2C2C2;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}

.block-end-text {
	height: 29px;
	width: 94px;
	color: #FFFFFF;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
}


body{
	background-color: #0E1414
}